@charset "utf-8";
/* CSS Document */

* {
	box-sizing:border-box;
}

body {
	background-color: #ccc;
	margin: 0 auto;
	font-family: '微軟正黑體',Verdana, sans-serif;
	font-size: 13px;
	background-image: url(../images/background.png);
}

a:link {
	color: #666;
	border-bottom: 1px dotted #666;
	text-decoration: none;
}

a:hover {
	color: #AF4C73;
	border-bottom: 1px dotted #AF4C73;
	text-decoration: none;
}

#base {
	background-image: url(../images/bg.gif);
	background-position: left -50px;
	background-repeat: no-repeat;
}

#base #header {
	padding-top: 50px;
}

#header h1 {
	color: #FFFFFF;
	font-size: 3em;
	font-family: Impact, fantasy;
	font-weight: normal;
	text-align: center;
	width: 477px;
	margin-top: 25px;
}

#base .main {
	clear: both;
	padding: 15px 30px 20px 23px;
	border-left: 9px solid #1F0E14;
	margin-top: 150px;
	margin-left: 150px;
	width: 60%;
}

#base .main h3 {
	font-size: 1.4em;
	border-bottom: 2px solid #AF4C73;
	padding-left: 15px;
}

#base .main h3 span {
	color: #666;
	font-size: .8em;
	float: right;
	padding-right: 15px;
}

#base .main h3 span sup {
	color: red;
}

.main p {
	line-height: 1.8em;
	padding: 5px 0px 20px 30px;
}
